name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  create_release:
    name: "Create release"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Release
        uses: softprops/action-gh-release@v2
        id: release
        with:
          draft: true
      - name: "Print release URL"
        run: echo "${{ steps.release.outputs.url }}" >> $GITHUB_STEP_SUMMARY